@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

.navMenu {
    background-color: #FF9C2F !important;
    box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.7);
    font-family: 'Oswald', sans-serif;
}

.nav-link {
    color: white !important;
    font-family: 'Oswald', sans-serif;
}

.space {
    margin-top: 100px;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

label {
    color: #FF9C2F;
    font-size: large;
    font-weight: 500;
}